# # create a mybinder badge issue comment for testing PRs
# name: AddBinderBadge
# on:
#   pull_request:
#     types: [opened, reopened]
# jobs:
#   build-image-without-pushing:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout PR
#         uses: actions/checkout@v2.4.0

#       - name: Comment on PR with Binder link
#         uses: actions/github-script@v4.1
#         env:
#           BRANCH_NAME: ${{ github.event.pull_request.head.ref }}
#         with:
#           github-token: ${{secrets.GITHUB_TOKEN}}
#           script: |
#             var BRANCH_NAME = process.env.BRANCH_NAME;
#             github.issues.createComment({
#               issue_number: context.issue.number,
#               owner: context.repo.owner,
#               repo: context.repo.repo,
#               body: `[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/${context.repo.owner}/${context.repo.repo}/${BRANCH_NAME}) :point_left: Launch a binder notebook on this branch`
#             })
